@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #3252F0;
    --cor2: #727CAD;
    --cor3: #696C7A;
    --cor4: #353847;
    --cor5: #1C1F33;

    --font-principal: 'Josefin Sans', sans-serif;
    ;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #48393C;
    margin: auto;
    margin-top: 50px;
    max-width: 1080px;
    
}

section {
    position: relative;
    z-index: 3;
    width: 80%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}



header > h2 {
    font-family: var(--font-principal);
    font-weight: normal;
    font-size: 1.5em;
    padding: 5px 5px 15px 5px;
}

h1 {
    margin-top: 20px;
    font-family: var(--font-principal);
    font-size: 3em;
    color: var(--cor3);
}

p {
    font-family: 1.5em;
    margin-top: 100px;
    text-align: justify;
    color: black;
}

a {
    text-decoration: none;
    display: block;
    margin: 20px;
    color: var(--cor3);
    background-color: white;
}

img {
    width: 401px; 
    height: 500px;
    object-fit: cover;
    padding: 20px;
    border-radius: 30px;
}

.redes-socias {
    display: block;
    
 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
    min-width: 320px;
    max-width: 1080px;
    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor5);
    color: white;
    text-decoration: none;
    border-radius: 5px;

  }
  .button:hover {
    background-color: var(--cor3);
    transition: 0.5s ease;
  }

@media (max-width: 1024px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    section, img {
        width: 70%; 
        height: auto;
        margin: 15px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Ajusta o tamanho do texto para caber melhor */
    }

    section {
        width: 100%; /* Ocupa toda a largura */
        margin: 10px;
        padding: 5px;
    }

    p {
        padding: 10px; /* Reduz o padding para caber melhor */
    }

    img {
        width: 45%; /* A imagem ocupa toda a largura da tela */
        margin: 10px 0;
        height: auto; /* Altura ajusta automaticamente */
    }
}